.TopLogo {
    position: absolute; 
    max-width: 30%;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.TitleSec {
    position: relative;
}

.Title {
    position: relative;
    margin-top: -6.4%;
}

.TitleDeco {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(60%) translateX(-50%);
}

.TitleHalfCircle {
    position: relative;
    left: 35%;
    transform: translateX(-50%);
}

.TitleHead {
    position: absolute;
    left: 15%;
    top:18%;
    font-family: 'Noto Serif JP', serif;
    writing-mode: vertical-rl;
}

.HeadMain {
    font-size: 2.5vw;
    font-weight: 100;
    letter-spacing: 1vw;
}

.HeadSub {
    font-size: 1vw;
    font-weight: 100;
    letter-spacing: 1vw;
    position: absolute;
    left: 75%;
    color: #F3F0DB;
}

.ScrollSec {
    position: relative;
}

.Scroll {
    position: absolute; 
    top: 70%;
    left: 70%;
    width: 4%;
    transform: translateX(-50%);
    -webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}
@-moz-keyframes blink {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}
@keyframes blink {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}

.Slider {
    position: relative;
    margin: 15%;
    padding-bottom: 8%;
}

.SliderCaption {
    position: absolute;
    bottom: -40%;
    left: -6%;
    padding-top: 9%;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 5%;
    font-size: 0.9vw;
    font-family: 'Noto Serif JP', serif;
    color: #F3F0DB;;
    writing-mode: vertical-rl;
    background-color:#C73D13;
}

.IntroSec {
    margin-bottom: 10%;
    height: 30vw;
}

.IntroPic_LS {
    position: absolute;
    right: 0%;
    width: 40%;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.IntroPic_RS {
    position: absolute;
    left: 0%;
    width: 40%;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.IntroCaption_LS {
    padding: 30% 18% 10%;
}

.IntroCaption_RS {
    padding: 30% 18% 10%;
}

.IntroCaption_L {
    font-size: 2vw;
    letter-spacing: 0.1vw;
    padding-bottom: 3%;
    font-family: 'Noto Serif JP', serif;
    color:#F3F0DB;
}

.IntroCaption_S {
    font-size: 0.9vw;
    font-family: 'Noto Serif JP', serif;
    color: #F3F0DB;
}
