.TopLogo {
    position: absolute; 
    width: 15%;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.Title {
    position: relative;
    margin-top: -8%;
}

.TitleDeco {
    text-align: center;
    padding: 8% 8%;
}

.TitleHalfCircle {
    position: relative;
    left: 25%;
    transform: translateY(-13%) translateX(-50%);
}

.HeadMain {
    font-size: 220%;
    font-weight: 100;
    letter-spacing: 1vw;
}

.ScrollSec {
    position: relative;
}

.Scroll {
    position: absolute; 
    top: 55%;
    left: 70%;
    width: 0.9vw;
    transform: translateX(-50%);
    filter: drop-shadow(4px 4px 4px rgba(255, 255, 255, 0.5));
    -webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}
@-moz-keyframes blink {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}
@keyframes blink {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}

.Slider {
    margin: 5% 0;
    position: relative;
    padding-bottom: 10%;
}

.SliderCaption {
    position: absolute;
    bottom: -40%;
    left: -6%;
    padding-top: 9%;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 5%;
    font-size: 0.9vw;
    font-family: 'Noto Serif JP', serif;
    color: #F3F0DB;
    writing-mode: vertical-rl;
    background-color:#C73D13;
}

.IntroSec {
    font-family: 'Noto Serif JP', serif;
    color: #F3F0DB;
}

.IntroInsideSec {
    text-align: center;
    margin: 5% 0 5% 0;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.IntroCaptionTitle {
    font-size: 36px;
}

.IntroCaption {
    text-align: left;
    padding: 10%;
}

.br_TopPage {
    white-space: pre-wrap;
    font-family: 'Noto Serif JP', serif;
    font-size: 36px;
    color: #F3F0DB;
    padding-bottom: 10%;
}

.IntroPic_L {
    margin-left: auto;
    display: block;
    height: auto;
    max-width: 100%;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.IntroPic_R {
    margin-right: auto;
    display: block;
    height: auto;
    max-width: 100%;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.NewsTitle {
    margin: 10% 1% 1% 1%;
    text-align: center;
    filter: drop-shadow(2px 3px 5px rgba(255, 255, 255, 0.479));
    -webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}
@-moz-keyframes blink {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}
@keyframes blink {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}

.PointCard {
    text-align: center;
    margin: 25% 0 5% 0;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.PointCardDeco {
    padding:20%;
}

.Takeout {
    text-align: center;
    margin: 5% 0 20% 0;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.TakeoutDeco {
    float: right;
    padding: 20%;
}

.TakeoutButton:hover {
    transform: scale(0.95);
    transition: transform 2s cubic-bezier(0.25, 1, 0.5, 1);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.CardList {
    margin: 3% 0 3% 0;
    text-align: center;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.Contact {
    margin: 8% 0 13% 0;
    text-align: center;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.Copylight {
    margin: 15% 0 5% 0;
    text-align: center;
}

.CopylightIcon {
    width: 65%;
}
