@media screen and (min-width: 1441px) {
  .ForBigScreen {
    padding: 0 20% 0 20%;
  }
}

.TopLogo {
  max-width: 110px;
  position: absolute;
  width: 15%;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.Title {
  position: relative;
  margin-bottom: 10%;
}

.TitleDeco {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .TitleDeco {
    padding: 20%;
  }
}

@media screen and (max-width: 576px) {
  .TitleDeco {
    margin-top: 10%;
  }
}

.TitleHalfCircle {
  position: relative;
  left: 25%;
  transform: translateY(-7%) translateX(-50%);
}

.HeadMain {
  font-size: 220%;
  font-weight: 100;
  letter-spacing: 1vw;
}

.restrict-width {
  max-width: 1200px;
  margin: 0 auto;
}

.Left {
  max-width: 600px;
}

.Right {
  position: relative;
  max-width: 600px;
}

.Scroll {
  position: absolute;
  bottom: 15%;
  right: 0;
  max-width: 18px;
  transform: translateX(-50%);
  filter: drop-shadow(4px 4px 4px rgba(255, 255, 255, 0.523));
  -webkit-animation: blink 1.5s ease-in-out infinite alternate;
  -moz-animation: blink 1.5s ease-in-out infinite alternate;
  animation: blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.TakeoutTop {
  width: 50%;
  min-width: 125px;
  max-width: 250px;
  padding: 0 15px 0 15px;
  background-color: #007bff;
  margin: 30%;
  display: flex;
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.TakeoutTop:hover {
  transform: scale(0.95);
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.TakeoutText {
  margin: 10% auto;
  font-family: "Noto sans JP", serif;
  color: #fff;
}

.HanamiTop {
  width: 50%;
  min-width: 125px;
  max-width: 250px;
  padding: 0 15px 0 15px;
  background-color: #fcbfb9;
  margin: 30%;
  display: flex;
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.HanamiTop:hover {
  transform: scale(0.95);
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.HanamiText {
  margin: 10% auto;
  font-family: "Noto sans JP", serif;
  color: #fff;
}

/* for Mobile */
.MobileButtonsTitle {
  margin-top: 3rem !important;
  font-size: 14px;
  color: white;
  text-align: center;
}

.MobileTakeout {
  color: #fff;
  background-color: #007bff;
  margin: 0 0.5rem 0 1rem;
  text-align: center;
  padding-top: 1rem;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.TakeoutTextM {
  font-size: 100%;
  padding-top: 10px;
  font-family: "Noto sans JP", serif;
  color: #fff;
}

.MobileHanami {
  color: #fff;
  background-color: #fcbfb9;
  margin: 0 1rem 0 0.5rem;
  text-align: center;
  padding-top: 1rem;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.HanamiTextM {
  font-size: 100%;
  padding-top: 10px;
  font-family: "Noto sans JP", serif;
  color: #fff;
}

.CarouselBg {
  background-color: #fff;
  width: 100%;
  padding: 5% 10%;
  border-radius: 30px;
  /* filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2)); */
}

.carousel-control-prev {
  filter: drop-shadow(2px 3px 5px rgba(33, 33, 33, 0.5));
  opacity: 0.6;
}

.carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}

.carousel-control-next {
  filter: drop-shadow(2px 3px 5px rgba(33, 33, 33, 0.5));
  opacity: 0.6;
}

.carousel-control-next-icon {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 767px) {
  .CarouselPic {
    margin: 0 auto;
    /* max-width: 400px; */
  }
}

.CarouselShadow {
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.4));
}

.CarouselCap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CarouselText {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2vw;
  line-height: 2;
  color: #c73d13;
  writing-mode: vertical-rl;
  align-items: center;
  margin-top: 1rem;
}

.IntroSec {
  font-family: "Noto Serif JP", serif;
  color: #f3f0db;
}

.IntroSecTop {
  margin-top: 15%;
  font-family: "Noto Serif JP", serif;
  color: #f3f0db;
}

.IntroSecBottom {
  margin-bottom: 15%;
  font-family: "Noto Serif JP", serif;
  color: #f3f0db;
}

.IntroInsideSec {
  margin: 5% 0 5% 0;
  /* filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2)); */
}

.IntroCaption {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IntroCaption2 {
  padding: 12% 0 7% 0;
}

.IntroCaptionTitle1 {
  font-size: 32px;
}

.IntroCaptionTitle2 {
  font-size: 32px;
  padding-bottom: 10%;
}

.br_TopPage {
  white-space: pre-wrap;
  font-family: "Noto Serif JP", serif;
  font-size: 32px;
  color: #f3f0db;
  padding-bottom: 10%;
}

.IntroCaptionP {
  font-size: 14px;
}

.IntroPic {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  /* filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2)); */
}

/* @media screen and (min-width: 767px) {
  .IntroPic {
    max-width: 400px;
  }
} */

.NewsBg {
  background-color: #fff;
  padding: 2% 2% 5%;
  border: solid 10px #007bff;
  border-radius: 30px;
  /* filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2)); */
}

@media screen and (max-width: 576px) {
  .NewsBg {
    border-radius: 6.6vw;
  }
}

.NewsTitle {
  margin-bottom: 1%;
  color: #007bff;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
}

.NewsTitleFlashing {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  -webkit-animation: blink 1.5s ease-in-out infinite alternate;
  -moz-animation: blink 1.5s ease-in-out infinite alternate;
  animation: blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.list-group {
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.Point {
  text-align: center;
  margin: 20% 0 5% 0;
  /* filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2)); */
}

.PointDeco {
  padding: 20%;
}

.PointBtn {
  max-width: 600px;
  border-radius: 2rem;
}

@media screen and (max-width: 576px) {
  .PointBtn {
    border-radius: 0.5rem;
  }
}

.Takeout {
  text-align: center;
  margin: 5% 0 20% 0;
  /* filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2)); */
}

.TakeoutDeco {
  float: right;
  padding: 20%;
}

.TakeoutBtn {
  max-width: 600px;
  border-radius: 2rem;
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 576px) {
  .TakeoutBtn {
    border-radius: 0.5rem;
  }
}

.TakeoutBtn:hover {
  transform: scale(0.95);
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.CardList {
  margin: 3% 0 3% 0;
  text-align: center;
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.Contact {
  margin: 8% 0 13% 0;
  text-align: center;
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
}

.Copylight {
  margin: 15% 0 5% 0;
  text-align: center;
}

.CopylightIcon {
  width: 65%;
}

.Hanami {
  width: 100%;
  height: 100vh;
  background-color: yellow;
}
