body {
  margin: 0;
  background-color: #C73D13;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  transform: translateX(-50%);
  position: fixed; 
  right: 50%;
  left: 50%;  
  filter: drop-shadow(3px 6px 6px rgba(0, 0, 0, 0.30));
}
