.bottom-space {
  margin-bottom: 10%;
}

.menu-title-img-container {
  text-align: center;
  margin-top: 44px;
}

.menu-title-img {
  width: 100%;
  max-width: 240px;
}

.menu-wrapper {
  margin-top: 44px;
}

.menu-subtitile-wrapper {
  padding: 1% 0;
  color: #007bff;
}

.menu-subtitile {
  padding-left: 6%;
  font-size: 80%;
  text-align: left;
  float: left;
}

.menu-subtitile-rightside-wrapper {
  padding-right: 4%;
  font-size: 80%;
  text-align: right;
}

.menu-subtitile-rightside {
  margin-right: 7.5%;
}

.menu-caption {
  border-top: solid 1px #007bff;
  padding-top: 2%;
  color: #f3f0db;
}

.menu-specific-spacing {
  padding-top: 44px;
}

.menu-caption:nth-child(1) {
  border-top: none;
}

.menu-captionSet {
  color: #f3f0db;
}

.menu-captionSetParty {
  text-align: right;
  color: #f3f0db;
}

.menu-name {
  padding-left: 4%;
  font-size: 110%;
  text-align: left;
  float: left;
}

.menu-subtitle-bg-primary {
  padding: 0.5em 1em;
  margin: 1em 0;
  color: #f3f0db;
  background: #007bff;
  border-radius: 10px;
  filter: drop-shadow(2px 3px 5px rgba(1, 1, 0, 0.1));
}

.menu-subtitle-bg-secondary {
  padding: 0.5em 1rem;
  margin: 1em 0;
  color: #f3f0db;
  background: #c73d13;
  border-radius: 10px;
  filter: drop-shadow(2px 3px 5px rgba(1, 1, 0, 0.3));
}

.menu-price-wrapper {
  padding-right: 4%;
  font-size: 120%;
  text-align: right;
}

.menu-price {
  margin-right: 6%;
}

.menu-tax {
  padding-right: 4%;
  font-size: 80%;
  text-align: right;
}

.menu-priceSingle {
  margin-right: 11%;
}

.menu-lunch-titile-wrapper {
  padding-top: 66px;
  text-align: center;
}

.menu-lunch-titile {
  font-family: "Noto Serif JP", serif;
  font-size: 44px;
}

.menu-lunch-subtitile {
  font-family: "Noto Serif JP", serif;
  font-size: 24px;
  color: #f3f0db;
}

.menu-lunch-bottom-block {
  margin-top: 44px;
}

.menu-lunch-bottom-text {
  padding: 10%;
  font-family: "Noto Serif JP", serif;
  background-color: #007bff;
  border-radius: 4rem;
  color: #f3f0db;
  filter: drop-shadow(2px 3px 5px rgba(1, 1, 0, 0.3));
  border: 4px double #c73d13;
}

.menu-line-break {
  white-space: pre-wrap;
  font-weight: bold;
  text-shadow: (2px 3px 5px rgba(1, 1, 0, 0.3));
}

@media screen and (max-width: 992px) {
  .bottom-space {
    margin-bottom: 17%;
  }
  .menu-lunch-bottom-block {
    margin-top: 24px;
  }
}
